@import "tailwindcss";
@import "katex/dist/katex.min.css";

:root {
  --bg: #f8fafc;
  --ink: #0f172a;
  --line: #e2e8f0;
}

body {
  background-color: var(--bg);
  color: var(--ink);
  font-family: 'Inter', sans-serif;
}
